$content-desktop            = 800px;
$content-desktop-large      = 880px;
$content-desktop-largest    = 960px;


$font-size-base             = 14px;
$font-size-smallest         = 10px;
$font-size-smaller          = 12px;
$font-size-small            = 13px;
$font-size-medium           = 14px;
$font-size-large            = 16px;
$font-size-larger           = 18px;
$font-size-largest          = 24px;

$font-size-headings-step    = 2px;
$font-size-headings-base    = $font-size-largest;

$table-font-size            = $font-size-small;

$font-size-title            = $font-size-largest;
$font-size-subtitle         = $font-size-smaller;

$site-description-font-size = $font-size-small
